@layer components {
  .usecase-card::before {
    @apply absolute inset-0 p-px pointer-events-none;
    content: "";
    border-radius: inherit;
    background: var(--color-border-gradient-blue);
    mask:
      linear-gradient(var(--color-white) 0 0) content-box,
      linear-gradient(var(--color-white) 0 0);
    mask-composite: exclude;
  }
}
